body { margin:0; padding:0; }
h1 {text-align: center;}


.header { 
    height:140px;
    margin: bottom 15px;
    background-color: #b4b3b3;
}
.main {
    width:980px;
    height:300px;
    background-color:#b4b3b3;
    float:right;
}
.section {
    text-align: center;
}

.footer {
    height:70px;
    margin-top:15px;
    background-color:#b4b3b3;
    text-align: center;
}
.logo {text-align: center;}

